<form class="my-4">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" required class="form-control" id="title" name="title" [(ngModel)]="articleS.currentArticle.title"
      placeholder="Titre de article">
  </div>
  <div class="form-group">
    <label for="content">Contenu</label>
    <textarea class="form-control" required name="content" id="content" cols="30" rows="5"
      [(ngModel)]="articleS.currentArticle.content"></textarea>
  </div>
  <div class="form-group">
    <label>Tags</label>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>